/* css da home do site OBS: ALGUEM MEXE NA IMGAEM DO BANNER PQ EU SOU IDIOTA E N CONSIGO ASS: HIGUINHA123 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*meninas essa aq é a header padrao para todos as outras paginas ok*/
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: navy;
    box-shadow: 0px 17px 59px 11px rgba(64, 0, 199, 0.62);
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
}


.navigation h1 {
    font-family: Arial, sans-serif;
    color: #1100ff;
    background: -webkit-linear-gradient(45deg, #21D4FD, #8721FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
}


ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; 
}


li {
    margin-left: 20px;
}


a {
    display: block;
    padding: 10px 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


a:hover {
    background-color: #a581ff5b;
    box-shadow: 0px 4px 8px rgba(164, 129, 255, 0.6);
    text-decoration: underline;
}


@media (max-width: 768px) {
    .navigation {
        position: relative;
        flex-direction: column; /
        height: auto;
        
    }

    ul {
        flex-direction: column; 
        justify-content: flex-start;
        margin-left: 0;
    }

    li {
        margin-left: 0;
        margin-bottom: 10px; 
    }
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 400px; 
    margin: 20px auto; 
}


.search-input {
    width: 100%;
    padding: 10px 15px;
    padding-left: 35px; 
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 30px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}


.search-input:focus {
    border-color: #4CAF50; 
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); 
}


.search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}


.search-icon img {
    width: 20px;
    height: 20px;
}


.search-container:hover .search-icon img {
    opacity: 0.8; 
    transition: opacity 0.3s ease;
}

.content {
    margin-top: 80px;
    padding: 20px;
    background-color: #f4f4f4;
}
/*Fim da header padrao */

.content {
    margin-top: 100px;
    padding: 20px;
}


.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero h2 {
    font-size: 36px;
    color: #1e3a8a;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
}


.categories {
    margin-bottom: 60px;
}

.categories h3 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
    color: #1e3a8a;
}

.category-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.category-item {
    width: 230px;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.category-item img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.category-item h4 {
    font-size: 20px;
    font-weight: 500;
    color: #1e3a8a;
    margin-bottom: 10px;
}

.category-item a {
    font-weight: bold;
    color: #4CAF50;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s ease;
}

.category-item a:hover {
    color: #1e3a8a;
}


.book-section {
    margin-bottom: 60px;
}

.book-section h3 {
    font-size: 26px;
    text-align: center;
    color: #1e3a8a;
    margin-bottom: 30px;
}

.book-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.book-item {
    background-color: #fff;
    width: 220px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.book-item img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.book-item h4 {
    font-size: 20px;
    font-weight: 500;
    color: #1e3a8a;
    margin-bottom: 10px;
}

.book-item p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


.book-item button {
    background-color: #4CAF50; 
    color: white; 
    padding: 12px 25px; 
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}


.book-item button:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); 
    transition: all 0.2s ease; 
}


.book-item button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
}


.book-item button:disabled {
    background-color: #d3d3d3; 
    color: #aaa; 
    cursor: not-allowed; 
    box-shadow: none; 
}



.more-books {
    text-align: center;
    margin-top: 40px;
}

.more-books a {
    color: #1e3a8a;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.more-books a:hover {
    color: #4CAF50;
}


@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero h2 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .category-list {
        flex-direction: column;
        align-items: center;
    }

    .book-list {
        flex-direction: column;
        align-items: center;
    }

    .book-item {
        width: 280px;
    }

    .category-item {
        width: 280px;
    }
}


.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1000px; 
    margin: 0 auto; 
    overflow: hidden; 
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.category-item, .book-item {
    flex: 0 0 auto; 
    width: 220px; 
    margin: 0 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
    transition: transform 0.3s ease;
}

.category-item:hover, .book-item:hover {
    transform: scale(1.05);
}

.category-item img, .book-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.category-item h4, .book-item h4 {
    color: #1e3a8a;
    margin-top: 10px;
}

.category-item a, .book-item button {
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.category-item a:hover, .book-item button:hover {
    color: #1e3a8a;
}


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


@media (max-width: 768px) {
    .category-item, .book-item {
        width: 180px; 
    }
}

/* Carrossel banner */
.main-carousel {
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 15px;  
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);  
}

.main-carousel .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;  
}

.main-carousel .carousel-item {
    flex: 0 0 85%;  
    position: relative;
    text-align: center;
    margin: 0 15px;  
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.main-carousel img {
    width: 100%;  
    height: 450px;  
    object-fit: cover;  
    border-radius: 15px;  
    transition: transform 0.3s ease;
}

.main-carousel img:hover {
    transform: scale(1.05);  /* Efeito de zoom suave ao passar o mouse */
}

.main-carousel h4 {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;  
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    font-family: 'Roboto', sans-serif;
}

.main-carousel p {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;  
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    font-family: 'Arial', sans-serif;
}

.main-carousel .prev, .main-carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.main-carousel .prev:hover, .main-carousel .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.main-carousel .prev {
    left: 10px;
}

.main-carousel .next {
    right: 10px;
}

/* Carrosséis de Categorias e Livros */
.carousel-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
    border-radius: 15px;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    flex: 0 0 70%; 
    margin: 0 15px;
    text-align: center;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.carousel-item:hover {
    transform: translateY(-10px);  
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.carousel-item img,
.book-item img {
    width: 100%;  
    height: 580px;  
    object-fit: cover;  
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.carousel-item img:hover,
.book-item img:hover {
    transform: scale(1.1);  
}

.carousel .prev, .carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel .prev:hover, .carousel .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel .prev {
    left: 10px;
}

.carousel .next {
    right: 10px;
}

/* Estilização das categorias e livros */
.category-item, .book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 100%;
}

.category-item:hover, .book-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.category-item img, .book-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.category-item h4, .book-item h4 {
    margin-top: 10px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-weight: 600;
}

/* Estilização para botões */
.category-item a, .book-item button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #008CBA;  
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.Comprar{
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #008CBA;  
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.Comprar:hover{
    background-color: #005f73;  
    transform: translateY(-5px);  
}




.category-item a:hover, .book-item button:hover {
    background-color: #005f73;  
    transform: translateY(-5px);  
}


@media screen and (max-width: 768px) {
    .main-carousel .carousel-item {
        flex: 0 0 95%;  
    }

    .carousel-item {
        flex: 0 0 85%;  
    }

    .carousel .prev, .carousel .next {
        padding: 12px;  
    }

    .main-carousel .prev, .main-carousel .next {
        padding: 12px;  
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    position: relative;
    width: 100%;
    margin-top: 3rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
}

.footer-links,
.footer-social,
.footer-contact {
    width: 100%;
    max-width: 320px;
}

.footer-links h3,
.footer-social h3,
.footer-contact h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}

.footer-links ul,
.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-social li {
    margin: 12px 0;
}

.footer-links a,
.footer-social a {
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-links a:hover,
.footer-social a:hover {
    color: white;
    transform: translateX(5px); 
}

.footer-social a {
    display: inline-block;
    margin-right: 15px;
}

.social-icon {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1); 
    filter: brightness(1.2); 
}

.footer-contact a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-contact a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #bbb;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links,
    .footer-social,
    .footer-contact {
        max-width: 100%;
        text-align: center;
    }

    .footer-social a {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .footer-container {
        padding: 20px 10px;
    }

    .footer-links h3,
    .footer-social h3,
    .footer-contact h3 {
        font-size: 18px;
    }

    .footer-links a,
    .footer-social a {
        font-size: 14px;
    }
}
/* Responsividade */
@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .playlists .playlist-container {
        flex-direction: column;
        align-items: center;
    }

    .livros-recomendados .livro-item {
        width: 100%;
    }

    .playlists .playlist-item, .livros-recomendados .livro-item {
        width: 90%;
    }
}
